h3{
    font-size: 30px;
}

.dropdown-container {
  position: absolute;
  top: 100px;
  right: 100px;
  z-index: 100;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2f2f2f;
  min-width: 160px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #3b3b3b;
}

.dropdown-container:hover .dropdown-content {
  display: block;
}

.dropdown-container:hover .dropbtn {
  background-color: #a0f7e4;

}

  .price {
  font-size: 25px;
  color: #00ff99;
  border: 2px solid #00ff99;
  padding: 5px 15px;
  display: inline-block;
  border-radius: 8px;
}

.sahm{
   font-size: 20px;
}

  #close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    padding: 5px 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  #close-btn:hover {
    background-color: rgb(233, 39, 39);
    color: rgb(0, 0, 0);
    transform: scale(1.1);
  }


  .nav-btn {
    position: absolute;
    top: 50%;
    font-size: 40px;
    color: white;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    background-color: rgba(255,255,255,0.1);
    border-radius: 50%;
    transition: 0.3s;
  }

 

  .nav-btn:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
  }

.stock-text {
  width: auto;          
  margin-left: 10px;
  font-size: 20px; 
  color: rgb(231, 253, 107);         
}
.contact-text {
 width: auto;
 margin-left: 100px;
 font-size: 30px;
padding: 10px;
color: #b1f5f5;
display: inline-block; 
font-size: 20px;
color: #333;
margin: 20px 0;
margin-left: 100px;
line-height: 1.5;
font-family: 'Segoe UI', sans-serif;
background-color: #78ffed;
padding: 10px;
border-radius: 20px;
}
.move-right {
  margin-left: 800px;
}
